body{
    background-color: rgb(240, 242, 255);
}
 
.content .row .card{
    height: 170px; }
.content .row .card ul{
    list-style-type: none;
    display: flex;
}
.content .row .card img{
    width: 100px;
    height: 100px;

}
.container .content .row h3{
    text-decoration: none;

}