body{
    background-color: azure;
}
.content .row .card{
    height: 170px;
}
.content .row .card ul{
    list-style-type: none;
    display: flex;
}
.content .row .card img{
    width: 100px;
    height: 100px;

}